[Unit]
Description=Floridaman simplest api
ConditionPathExists={{ app_dir }}
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
Restart=on-failure
RestartSec=10

WorkingDirectory={{ app_dir }}

Environment=REDIS_ADDR=127.0.0.1:{{ redis_port }}
Environment=APP_PORT=8081
EnvironmentFile={{ app_dir }}/environment.conf
ExecStart={{ app_dir }}/floridaman serve

PermissionsStartOnly=true

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=floridaman

[Install]
WantedBy=multi-user.target