---
domain: subdomain.domain.com # fully qualified domain of the application
letsencrypt_email: your@email.com # email that will be used to create let's encrypt certs
src_dir: /path/to/go/project # root directory where the source code is in the local machine
